<form class="row g-3 mt-2 needs-validation" novalidate [formGroup]="form">
  <div class="col-md-12">
    <label for="nome" class="form-label">First name</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome do curso">
    <div class="valid-feedback">
      Nome obrigatório
    </div>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary me-2">Salvar</button>
    <button type="button" class="btn btn-default">Cancelar</button>
  </div>
</form>
